body *{
	margin: 0;
	padding: 0;
}

/*Landing Page Styles*/
#landingLogo{
	background-image: url("../images/landing/logo.png");
	height: 90px;
	width: 314px;
	margin: 0 auto;
}

#landingForm input {
	width: 260px;
	height: 38px;
	border: 1px solid #E2E2E2;
	color: #666;
	border-radius: 10px;
	padding: 10px;
	margin-top: 7px;
}

#landingForm {
	display: block;
	margin: 0px auto;
	width: 280px;
}
.landingSubmit {
	background-color: #E8566D;
	color: #FFF !important;
	line-height: 15px;
}

.landingTagline {
	display: block;
	width: 33%;
	margin: 0px auto;
	color: #BCBDC1;
	font-size: 36px;
	height: 40px;
	margin-top: 20px;
}

body{
	
}